[color]
	ui = auto
[alias]
	st = status
  br = branch -v --sort=authordate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
[core]
	editor = vim
	excludesfile = /Users/spoulson/.gitignore
[push]
	default = current
[user]
	email = shawn@ethn.net
	name = Shawn Poulson
[pull]
	rebase = false

# Override SSH protocol on Mailgun repos.
# [url "ssh://git@github.com/mailgun/"]
# 	insteadOf = https://github.com/mailgun/

# Override SSH key for directory tree.
# [includeIf "gitdir:~/src/spoulson/"]
#   path = .gitconfig-spoulson
